:root {
    --axisAmount: 16;
}
body {
    text-align: center;
}
#container {
    display: grid;
    max-height: 80%;
    max-width: 100%;
    width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(var(--axisAmount), 1fr);
}
.grid {
    width: auto;
    height: auto;
    padding-top: 100%;
    border: 0.5px solid black;
}
#reset {
    display: block;
    margin: 2% auto;
}